.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.mainPageLayout:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.mainPageStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  max-height: 95vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.pageHeader {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pageHeader {
    flex-direction: column;
    display: flex;
    column-gap: 0px;
  }
}
.freeBox__rm4Ht {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rm4Ht {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.freeBox___58HKs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___58HKs {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.text___0TGvj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 28px;
  min-width: 0;
  padding: 4px;
}
.text__ubSs1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  margin-left: 8px;
  min-width: 0;
  padding: 0px;
}
.button__jLchx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jLchx:global(.__wab_instance) {
    display: none;
  }
}
.text__bWnnD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dataList:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  display: none;
  padding: 16px;
}
.freeBox__gJsb6 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px;
}
.text__mV3B5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.text__auSnu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.text__zp7E1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  min-width: 0;
}
.freeBox__pwkc7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.statusSelect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  flex-shrink: 0;
}
.text__szWSe {
  color: #444444;
}
.contentStack {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 95vh;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  overflow: auto;
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
  margin: 8px;
}
.freeBox___3OqCb {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  transform: none;
  min-width: 0;
  padding: 4px 8px;
}
.freeBox__rd4Qx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 10px;
  padding: 8px;
  border-style: solid;
  border-color: var(--token-Pxe4wDL2kJpb);
}
.freeBox__ur97T {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ur97T {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.poTitle {
  position: relative;
  width: 240px;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: 16px;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .poTitle {
    font-weight: 500;
  }
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2T9Vp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  min-width: 0;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2T9Vp {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 0px;
  }
}
.listItemWithHeader__jweFf:global(.__wab_instance) {
  position: relative;
}
.listItemWithHeader__tXyRq:global(.__wab_instance) {
  position: relative;
}
.listItemWithHeader__ivFu:global(.__wab_instance) {
  position: relative;
}
.listItemWithHeader__iz4Br:global(.__wab_instance) {
  position: relative;
}
.listItemWithHeader___0AGj7:global(.__wab_instance) {
  position: relative;
}
.pagnination {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-grow: 0;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.button__evyIn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.firstPage {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__zeoqi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__szel0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__zTkRm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___4NGP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button__fzBDi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__xVEr9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
