.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-DbGdjBpQ6R_X);
  justify-self: flex-start;
  min-height: 0;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.sideBar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-jgohepLVeKvh);
  row-gap: 8px;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  padding: 8px;
  margin: 0px;
}
.root:hover .sideBar {
  width: 240px;
  flex-shrink: 0;
}
.img__st6Tm {
  object-fit: contain;
  margin-bottom: 8px;
  width: 100%;
  height: 40px;
  min-width: 0;
  flex-shrink: 0;
}
.img__st6Tm > picture > img {
  object-fit: contain;
}
.root:hover .img__st6Tm {
  display: none;
}
.img__dlhfV {
  object-fit: contain;
  height: 32px;
  transform: translate3d(0px, 0px, 0px);
  flex-shrink: 0;
  display: none;
  margin: 0px 0px 16px;
}
.img__dlhfV > picture > img {
  object-fit: contain;
}
.root:hover .img__dlhfV {
  display: block;
}
.purchasing {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-DbGdjBpQ6R_X);
}
.svg__s36LR {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.root:hover .svg__s36LR {
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.sectionPlanning2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-DbGdjBpQ6R_X);
}
.sectionTitlePlanning2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  flex-grow: 0;
  color: #ffffff;
  min-width: 0;
}
.svg__f51Ki {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.svg__uDnQc {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.svg__pYfn4 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.sectionResources {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.sectionTitleResources {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10px;
  flex-grow: 0;
  color: #ffffff;
  min-width: 0;
}
.svg___7DDKu {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.svg___3UJlK {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.svg__tPh6E {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.svg__etmGf {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.navMenuItem9:global(.__wab_instance) {
  align-self: flex-start;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
}
.svg__t1Ye {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
}
.navMenuItem10:global(.__wab_instance) {
  display: none;
}
.root:hover .navMenuItem10:global(.__wab_instance) {
  display: none;
}
.svg__flJwk {
  animation: none;
  object-fit: cover;
  width: var(--token-EYgle3RK4Be_);
  height: var(--token-EYgle3RK4Be_);
  flex-grow: 1;
}
