.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-DbGdjBpQ6R_X);
  transition-property: all;
  transition-duration: 1s;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.sideBarNavigation:global(.__wab_instance) {
  max-width: 100%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .sideBarNavigation:global(.__wab_instance) {
    display: none;
  }
}
.pageContent {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px;
}
.pageSection {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.pageSection > * {
  grid-column: 4;
}
.breadcrumb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  background: var(--token-jgohepLVeKvh);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 4px 4px 4px 16px;
}
.breadcrumbItem___9X7Ib:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__irWs3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.breadcrumbItem__vWsk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__pRJd1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.breadcrumbItem__ouyrj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__eMylJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__lda9X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.section__pSdsE {
  animation: none;
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__pSdsE > * {
  grid-column: 4;
}
